@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(0 0% 96.4706%);
	--foreground: hsl(225 7.1429% 10.9804%);
	--card: hsl(0 0% 99.2157%);
	--card-foreground: hsl(225 7.1429% 10.9804%);
	--popover: hsl(0 0% 99.2157%);
	--popover-foreground: hsl(225 7.1429% 10.9804%);
	--primary: hsl(257.9412 100% 60%);
	--primary-foreground: hsl(0 0% 96.4706%);
	--secondary: hsl(0 0% 88.2941%);
	--secondary-foreground: hsl(0 0% 10.1961%);
	--muted: hsl(0 0% 95.2941%);
	--muted-foreground: hsl(0 0% 32.1569%);
	--accent: hsl(242.5000 52.1739% 90.9804%);
	--accent-foreground: hsl(0 0% 10.1961%);
	--destructive: hsl(358.4416 74.7573% 59.6078%);
	--destructive-foreground: hsl(0 0% 100%);
	--success: hsl(118 75% 60%);
	--success-foreground: hsl(0 0% 100%);
	--border: hsl(240 17.0732% 85.9608%);
	--input: hsl(240 17.0732% 85.9608%);
	--ring: hsl(257.9412 100% 60%);
	--chart-1: hsl(257.8166 100.0000% 55.0980%);
	--chart-2: hsl(257.9412 100% 60%);
	--chart-3: hsl(257.8652 100% 65.0980%);
	--chart-4: hsl(258.0392 100.0000% 70%);
	--chart-5: hsl(257.9528 100% 75.0980%);
	--sidebar: hsl(0 0% 94.9020%);
	--sidebar-foreground: hsl(225 7.1429% 10.9804%);
	--sidebar-primary: hsl(257.9412 100% 60%);
	--sidebar-primary-foreground: hsl(0 0% 96.4706%);
	--sidebar-accent: hsl(0 0% 90.1961%);
	--sidebar-accent-foreground: hsl(225 7.1429% 10.9804%);
	--sidebar-border: hsl(0 0% 92.1569%);
	--sidebar-ring: hsl(0 0% 0%);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Lora, serif;
	--font-mono: JetBrains Mono, ui-monospace, monospace;
	--radius: 0.65rem;
	--shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
	--shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
	--shadow-sm: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-md: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-lg: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.40);
}

.dark {
	--background: hsl(225 7.1429% 10.9804%);
	--foreground: hsl(0 0% 89.8039%);
	--card: hsl(228.0000 6.8493% 14.3137%);
	--card-foreground: hsl(0 0% 89.8039%);
	--popover: hsl(228.0000 6.8493% 14.3137%);
	--popover-foreground: hsl(0 0% 89.8039%);
	--primary: hsl(257.6687 100% 68.0392%);
	--primary-foreground: hsl(0 0% 89.8039%);
	--secondary: hsl(240 7.1429% 20.9804%);
	--secondary-foreground: hsl(0 0% 89.8039%);
	--muted: hsl(226.6667 9.6774% 18.2353%);
	--muted-foreground: hsl(0 0% 62.7451%);
	--accent: hsl(243.7500 14.0351% 22.3529%);
	--accent-foreground: hsl(0 0% 89.8039%);
	--destructive: hsl(0 90.6040% 70.7843%);
	--destructive-foreground: hsl(0 0% 89.8039%);
	--success: hsl(120 90% 70%);
	--success-foreground: hsl(0 0% 89.8039%);
	--border: hsl(222.8571 6.4220% 21.3725%);
	--input: hsl(222.8571 6.4220% 21.3725%);
	--ring: hsl(257.6687 100% 68.0392%);
	--chart-1: hsl(257.5532 100% 63.1373%);
	--chart-2: hsl(257.6687 100% 68.0392%);
	--chart-3: hsl(257.5182 100.0000% 73.1373%);
	--chart-4: hsl(257.6786 100% 78.0392%);
	--chart-5: hsl(257.4419 100.0000% 83.1373%);
	--sidebar: hsl(240 5.8824% 10%);
	--sidebar-foreground: hsl(0 0% 89.8039%);
	--sidebar-primary: hsl(257.6687 100% 68.0392%);
	--sidebar-primary-foreground: hsl(0 0% 89.8039%);
	--sidebar-accent: hsl(226.6667 9.6774% 18.2353%);
	--sidebar-accent-foreground: hsl(0 0% 89.8039%);
	--sidebar-border: hsl(222.8571 6.4220% 21.3725%);
	--sidebar-ring: hsl(257.6687 100% 68.0392%);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Lora, serif;
	--font-mono: JetBrains Mono, ui-monospace, monospace;
	--radius: 0.65rem;
	--shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
	--shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
	--shadow-sm: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-md: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-lg: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
	--shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.40);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}
